<!DOCTYPE html>
<html>
<head>
  <title>Joyblind</title>

	<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', media:'screen'%>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print'%>
  <%= stylesheet_link_tag 'main', :media => 'screen' %>
  <%= stylesheet_link_tag 'headers', :media => 'screen' %>

	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>
	
<div id="main-wrapper">

	<!-- HEADER -->
	<div id="header">
		<p><a href="/"><img src="/images/header.jpg" alt="JOYBLIND"></a></p>
	</div><!-- header end-->

	<!-- CONTENT -->	
	<div id="main-content">

		<%= yield %>

	</div><!-- main-content end-->
	
	<!-- FOOTER -->
	<div id="footer">
		
		<ul>
			<li><a href="<%= about_path %>"><h1>About</h1></a></li>
			<li><a href="#"><h1>Contact</h1></a></li>
			<li><a href="#"><h1>Twitter</h1></a></li>
			<li><a href="#"><h1>RSS</h1></a></li>
		</ul>
		
	</div><!-- main-content end-->
</div><!-- main-wrapper end-->

</body>
</html>
